.item {
  padding-left: 2.5em;
  padding-right: 1em;
  position: relative;
  padding-top: 0.5em;
}

.item p {
  margin: 0;
}

.item-index {
  position: absolute;
  left: 0.5em;
  color: #828282;
  width: 1.5em;
  text-align: right;
}

.item-title {
  font-weight: bold;
}

.item-info {
  color: #828282;
}